grant {
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.net.NetPermission "getProxySelector";
    permission java.net.SocketPermission "*", "connect,resolve";
};